/*=== Aplicando CSS Global. ===*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EFF5F5;
}

a:hover {
    color: #1F8A70;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EFF5F5;
    font-family: 'Belanosima', sans-serif;
}

/*=== Aplicando CSS al encabezado. ===*/

#encabezado {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    align-items: center;
    background-color: #00425A;
    color: #EFF5F5;
    padding: 2%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

#logo {
    text-align: center;
    font-size: 2rem;
}

.opcion_menu {
    text-align: center;
    font-size: 1.5rem;
}

/*=== Aplicando CSS al cuerpo del documento. ===*/

#provisional {
    margin-top: 10%;
}

.seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 2.5%;
    gap: 2.5%;
}

.banner img{
    border-radius: 2.5%;
}
.descripcion h1{
    font-size: 4rem;
    text-align: center;
    margin: 2.5%;
}

.descripcion p {
    font-size: 1.5rem;
    text-align: justify;
}

/*=== Aplicando CSS al formulario de contacto. ===*/

#banner_formulario {
    width: 85%;
    margin: auto;
}

#banner_formulario img {
    border-radius: 2.5%;
}

#formularios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}

#formulario_registro { 
    text-align: center;
}

.campos_formulario {
    display: inline;
}


/*=== Aplicando CSS al pie de página. ===*/

#pie_pagina {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-evenly;
    align-items: center;
    background-color: #00425A;
    color: #EFF5F5;
    padding: 2%;
}

#pie_pagina div {
    text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}




