/*=== Aplicando CSS Global. ===*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EFF5F5;
}

a:hover {
    color: #1F8A70;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EFF5F5;
    font-family: 'Belanosima', sans-serif;
}

button {
    background-color: #00425A;
    color:#EFF5F5;
}

/*=== Aplicando CSS al encabezado. ===*/

#encabezado {
    background-color: #00425A;
    color: #EFF5F5;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2%;
    z-index: 2;
}

#logo {
    text-align: center;
}

.opcion_menu {
    text-align: center;
}

/*=== Aplicando CSS al cuerpo del documento. ===*/

#provisional {
    margin-top: 10%;
}

.seccion {
    margin: 2.5%;
}

.banner img{
    border-radius: 2.5%;
}
.descripcion h1{
    margin: 2.5%;
}

.descripcion p {
    text-align: justify;
}

/*=== Aplicando CSS al formulario de contacto. ===*/

#banner_formulario {
    width: 100%;
    margin: auto;
}

#banner_formulario img {
    border-radius: 2.5%;
}

#formularios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 2.5%;
}

#formulario_registro { 
    text-align: center;
}

#formulario_iniciar_sesion {
    text-align: center;
}

/*=== Aplicando CSS al pie de página. ===*/

#pie_pagina {

    background-color: #00425A;
    color: #EFF5F5;
    width: 100%;
}

.seccion_footer ul li {
    text-align: center
}

#pie_pagina {
    text-align: center;
}

/*=== Vista de Dispositivos Moviles (>320px) ===*/
@media (min-width: 320px) and (max-width: 767px) {

    /*=== Aplicando CSS al encabezado. ===*/

    #encabezado {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    #logo {
        grid-row: 1;
        font-size: 1.5rem;
        text-align: center;
    }

    #logo a {
        text-align: center;
    }

    #menu {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        text-align: center;
    }

    .opcion_menu {
        font-size: 1.2rem;
    }

    /*=== Aplicando CSS al cuerpo del documento. ===*/

    
    body {
        padding-top: 40%;
    }

    #cuerpo {
        margin: auto;
    }

    #por_que_elegirnos .banner {
        display: none;
    }

    #ultimas_noticias .banner {
        display: none;
    }

    .banner img{
        border-radius: 2.5%;
    }

    .banner_movil img{
        border-radius: 2.5%;
    }

    .descripcion h1{
        font-size: 2rem;
        text-align: center;
        margin: 2.5%;
    }

    .descripcion p {
        font-size: 1rem;
        text-align: justify;
    }

    /*=== Aplicando CSS al formulario de contacto. ===*/

    .seccion_contacto {
        padding: 5%;
    }

    #seccion_iniciar_sesion #banner_contacto{
        display: none;
    }

    .seccion_contacto figure {
        width: 80%;
        margin: auto;
    }

    .seccion_contacto figure img {
        border-radius: 2.5%;
    }

    .seccion_contacto div h1 {
        text-align: center;
        padding: 2%;
        font-size: 1.5rem;
    }

    #formulario_registro { 
        text-align: center;
    }

    #formulario_iniciar_sesion {
        text-align: center;
    }

    .campos_formulario input{
        margin: 0.8%;
    }

    .campos_formulario button {
        margin: 1%;
    }

    /*=== Aplicando CSS al pie de página. ===*/

    #pie_pagina {

        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        justify-content:space-evenly;
        align-items: center;
        background-color: #00425A;
        color: #EFF5F5;
        padding: 2%;
    }

    .seccion_footer{
        padding: 2.5%;
        font-size: 1.2rem;
    }

    .seccion_footer h2{
        padding: 2%;
    }

    .seccion_footer ul li {
        text-align: center
    }

    #pie_pagina {
        text-align: center;
    }

}

/*=== Vista de Tablet (>768px) ===*/
@media (min-width: 768px) and (max-width: 1199px) { 
    
/*=== Aplicando CSS al encabezado. ===*/

    #encabezado {
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-content: space-evenly;
        align-items: center;
    }

    #logo {
        grid-row: 1;
        font-size: 2rem;
        text-align: center;
    }

    #logo a {
        text-align: center;
    }

    #menu {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        gap: 5%;
    }

    .opcion_menu {
        font-size: 1.5rem;
    }

    /*=== Aplicando CSS al cuerpo del documento. ===*/

    body {
        padding-top: 30%;
    };

    #cuerpo {
        margin: auto;
    }

    #por_que_elegirnos .banner {
        display: none;
    }

    #ultimas_noticias .banner {
        display: none;
    }

    .banner img{
        border-radius: 2.5%;
    }

    .banner_movil img{
        border-radius: 2.5%;
    }

    .descripcion h1{
        font-size: 2rem;
        text-align: center;
        margin: 2.5%;
    }

    .descripcion p {
        font-size: 1rem;
        text-align: justify;
    }

    /*=== Aplicando CSS al formulario de contacto. ===*/

    .seccion_contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        padding: 2.5%;

    }

    #seccion_iniciar_sesion #banner_contacto_movil{
        display: none;
    }

    .seccion_contacto figure {
        width: 100%;
        margin: auto;
    }

    .seccion_contacto figure img {
        border-radius: 2.5%;
    }

    .seccion_contacto div h1 {
        text-align: center;
        padding: 2%;
        font-size: 1.5rem;
    }

    #formulario_registro { 
        text-align: center;
    }

    #formulario_iniciar_sesion {
        text-align: center;
    }

    .campos_formulario input{
        margin: 0.8%;
    }

    .campos_formulario button {
        margin: 1%;
    }

    /*=== Aplicando CSS al pie de página. ===*/

    #pie_pagina {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:space-between;
        align-items:baseline;
        background-color: #00425A;
        color: #EFF5F5;
        padding: 2%;
    }

    .seccion_footer{
        padding: 2.5%;
        font-size: 1.2rem;
    }

    .seccion_footer h2{
        padding: 2%;
    }

    .seccion_footer ul li {
        text-align: center
    }

    #pie_pagina {
        text-align: center;
    }

}

/*=== Vista de escritorio (>1200px) ===*/
@media (min-width: 1200px) { 
    
    /*=== Aplicando CSS al encabezado. ===*/

    #encabezado {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: space-between;
        align-items: center;
        background-color: #00425A;
        color: #EFF5F5;
        padding: 2%;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
    }

    #menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        align-items: center;
    }

    #logo {
        text-align: center;
        font-size: 1.6rem;
    }

    .opcion_menu {
        text-align: center;
        font-size: 1.5rem;
    }

    /*=== Aplicando CSS al cuerpo del documento. ===*/

    body {
        padding-top: 10%;
    }

    .seccion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        margin: 2.5%;
        gap: 2.5%;
    }

    .banner img{
        border-radius: 2.5%;
    }
    .descripcion h1{
        font-size: 4rem;
        text-align: center;
        margin: 2.5%;
    }

    .descripcion p {
        font-size: 1.5rem;
        text-align: justify;
    }

    #por_que_elegirnos .banner_movil {
        display: none;
    }

    #ultimas_noticias .banner_movil {
        display: none;
    }

    /*=== Aplicando CSS al formulario de contacto. ===*/

    .seccion_contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        padding: 2.5%;

    }

    #seccion_iniciar_sesion #banner_contacto_movil{
        display: none;
    }

    .seccion_contacto figure {
        width: 85%;
        margin: auto;
    }

    .seccion_contacto figure img {
        border-radius: 2.5%;
    }

    .seccion_contacto div h1 {
        text-align: center;
        padding: 2%;
        font-size: 2rem;
    }

    #formulario_registro { 
        text-align: center;
    }

    #formulario_iniciar_sesion {
        text-align: center;
    }

    .campos_formulario input{
        margin: 0.8%;
    }

    .campos_formulario button {
        margin: 1%;
    }

    /*=== Aplicando CSS al pie de página. ===*/

    #pie_pagina {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:space-evenly;
        align-items:first baseline;
        background-color: #00425A;
        color: #EFF5F5;
        padding: 2%;
        width: 100%;
        z-index: 2;
    }

    .seccion_footer{
        padding: 2.5%;
        font-size: 1.5rem;
    }

    .seccion_footer h2{
        padding: 2%;
    }

    .seccion_footer ul li {
        text-align: center
    }

    #pie_pagina {
        text-align: center;
    }
}